<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_group">
    <%= f.label :email %><br>
    <%= f.email_field :email, :class => "form-control", :placeholder => "your@email.com" %>
  </div>
  <div class="checkbox">
    <%= f.label :admin do %><%= f.check_box :admin %> Admin<% end %>
  </div>
  <div class="checkbox">
    <%= f.label :property_owner do %><%= f.check_box :property_owner %> Property Owner<% end %>
  </div>
  <div class="actions form_group">
    <%= f.submit :class => "btn btn-default" %>
  </div>
<% end %>